/* forms, buttons, etc. */
a.white-btn {
	border: 1px solid #F3CF55;
	border-radius: 3px;
	color: #F3CF55;
	display: block;
	font-size: 0.85em;
	margin-top: 1.25em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.white-btn:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
	border: 1px solid #578CA9;
	color: #578CA9;
}
a.color-btn, form.customform button.color-btn {
	background: none;
	border: 1px solid #F3CF55;
	border-radius: 3px;
	color: #F3CF55;
	display: block;
	font-size: 0.85em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.color-btn:hover, form.customform button.color-btn:hover {
	border: 1px solid #578CA9;
	color: #578CA9;
}
/* top bar */
#topbar {
	background: none repeat scroll 0 0 #3A404A;
	border-bottom: 1px solid #3A404A;
	padding: 0.3125em 0;
}
#topbar p {
	color: #F3CF55;
	font-size: 0.75em;
	opacity: 0.5;
	position: relative;
	top: 2px;
}
#topbar p strong {
	font-weight: 600;
}
#topbar i {
	color: #F3CF55;
	font-size: 1.1em;
	opacity: 0.5;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
#topbar i:hover {
	color: #578CA9;
	cursor: pointer;
	opacity: 1;
}
/* nav */
nav {
	background: none repeat scroll 0 0 #3A404A;
}
/* header */
header {
	border-bottom: 4px solid rgba(58, 64, 74, 0.75);
	position: fixed;
	width: 100%;
	z-index: 10;
}
/* logo */
p.logo {
	color: #F3CF55;
	font-size: 2.25em;
	font-weight: 300;
	position: relative;
	text-transform: uppercase;
	top: 0.625em;
}
p.logo strong {
	font-weight: 700;
}
/* top nav */
.top-nav li a {
	border-top: 2px solid #3A404A;
	color: #F3CF55;
	font-size: 0.95em;
	font-weight: 600;
	padding: 2.1em 1.5em 2.5em;
	text-transform: uppercase;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
.top-nav li a:hover, .top-nav li.active-item a {
	background: none repeat scroll 0 0 #3A404A;
	border-top: 2px solid #F3CF55;
	color: #578CA9;
	position: relative;
}
/* carousel */
#carousel .text {
	position: absolute;
	top: 40%;
	z-index: 10;
}
.item {
	overflow: hidden;
	width: 100%;
}
.prev-arrow, .next-arrow {
	background: none repeat scroll 0 0 #515659;
	border-radius: 3px;
	cursor: pointer;
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 1px;
	text-align: center;
	width: 30px;
}
#carousel .text h2 {
	background: none repeat scroll 0 0 rgba(243, 207, 85, 0.75);
	border-radius: 3px;
	color: #3A404A;
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
	margin: 1px 0;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
}
#carousel .text p {
	background: none repeat scroll 0 0 #515659;
	border-radius: 3px;
	color: #578CA9;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
}
#carousel .owl-theme .owl-controls {
	background: none repeat scroll 0 0 rgba(0, 40, 58, 0.53);
	bottom: 0;
	margin: 0;
	padding: 0.625em 0;
	position: absolute;
	width: 100%;
}
.owl-theme .owl-controls .owl-page span {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 3px solid rgba(0, 40, 58, 0.57);
	height: 18px;
	margin: 0 0.3125em;
	opacity: 1;
	width: 18px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: none repeat scroll 0 0 #F3CF55;
}
/* intro */
#first-block {
	background: none repeat scroll 0 0 #3A404A;
	padding: 3em 2em;
	text-align: center;
}
#first-block h1 {
	color: #F3CF55;
	font-size: 2em;
	font-weight: 300;
	margin-top: 0;
}
#first-block p {
	color: #D9D8D2;
	font-size: 0.85em;
}
/* about */
#features {
	background: none repeat scroll 0 0 #D9D8D2;
	padding: 6em 2em;
	position: relative;
	text-align: center;
	z-index: 2;
}
#features i {
	background: none repeat scroll 0 0 #F3CF55;
	border-radius: 100px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25) inset;
	color: #578CA9;
	display: inline-block;
	font-size: 2em;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 100px;
}
#features h2 {
	font-size: 1em;
	color: #578CA9;
	font-weight: 600;
	margin: 1.25em 0;
	text-transform: uppercase;
}
#features p {
	color: #3A404A;
	font-size: 0.85em;
	line-height: 1.5em;
}
/* skills */
#skills {
	background: none repeat scroll 0 0 #F3CF55;
	padding-top: 50px;
}
.bars {
    width: 95%;
    float: left;
    padding: 0;
    text-align: left;
}
.bars .skills {
    margin-top: 36px;
    list-style: none;
}
.bars li {
    position: relative;
    margin-bottom: 60px;
    background: #343E4A;
    height: 42px;
    border-radius: 10px;
}
.bars li em {
	font-style: normal;
    color: #343E4A;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    position: relative;
    top: -36px;
}
.bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background: #578CA9;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 10px;
}
.photoshop {
    width: 70%;
    -moz-animation: photoshop 2s ease;
    -webkit-animation: photoshop 2s ease;
}
.css3 {
    width: 85%;
    -moz-animation: css3 2s ease;
    -webkit-animation: css3 2s ease;
}
.html5 {
    width: 90%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;
}
.javascript {
    width: 50%;
    -moz-animation: javascript 2s ease;
    -webkit-animation: javascript 2s ease;
}
@-moz-keyframes photoshop {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
@-moz-keyframes css3 {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}
@-moz-keyframes html5 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}
@-moz-keyframes javascript {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}
@-webkit-keyframes photoshop {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
@-webkit-keyframes css3 {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}
@-webkit-keyframes html5 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}
@-webkit-keyframes javascript {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}
/* projects */
#our-work {
	background: none repeat scroll 0 0 #D9D8D2;
	padding: 6em 2em;
	position: relative;
	z-index: 2;
}
.tab-item {
	background: #F3CF55 none repeat scroll 0 0;
	margin-top: 1.25em;
	padding: 1.25em 0;
}
.our-work-container {
	display: block;
	height: 100%;
	position: relative;
}
.our-work-text {
	background: #00283a none repeat scroll 0 0;
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	padding: 1.25em;
	position: absolute;
	right: 0;
	text-align: center;
	transition: opacity 0.20s linear 0s;
	-o-transition: opacityd 0.20s linear 0s;
	-ms-transition: opacity 0.20s linear 0s;
	-moz-transition: opacity 0.20s linear 0s;
	-webkit-transition: opacity 0.20s linear 0s;
	width: 100%;
}
.our-work-container:hover > .our-work-text {
	opacity: 1;
}
.our-work-text h4 {
	color: #F3CF55;
	font-size: 1em;
	font-weight: 600;
}
.our-work-text p {
	color: #F3CF55;
	font-size: 0.8em;
	opacity: 0.7;
}
.tab-nav {
	display: table;
}
a.tab-label, a.tab-label:link, a.tab-label:visited {
	background: #00283a none repeat scroll 0 0;
	color: #F3CF55;
	display: block;
	font-size: 1em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.tab-label:hover, a.tab-label.active-btn {
	background: #F3CF55;
	color: #F3CF55;
}
div.gallery {
    margin: 5px;
    float: left;
    width: 400px;
}
div.gallery img {
		width: 300px;
    max-width: 100%;
    height: auto;
}
div.desc {
		width: 300px;
    padding: 0;
		margin: 0;
    text-align: center;
}
/* contact */
#contact {
	background: none repeat scroll 0 0 #3A404A;
	padding: 6em 2em;
	position: relative;
	z-index: 2;
}
#contact input, #contact textarea {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px;
}
form.customform button.color-btn {
	height: auto;
	margin-top: 0;
}
#contact h2 {
	margin: 0 0 1.25em;
	color: #D9D8D2;
}
#contact h3 {
	color: #F3CF55;
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.625em;
	text-transform: uppercase;
}
#contact p {
	color: #D9D8D2;
	font-size: 0.85em;
	font-style: normal;
	line-height: 2em;
}
#contact p strong {
	font-weight: 700;
}
#contact i {
	background: #e0e0e0 none repeat scroll 0 0;
	border-radius: 30px;
	color: #F3CF55;
	display: inline-block;
	line-height: 26px;
	margin: 0.625em;
	text-align: center;
	width: 26px;
}
input::placeholder {
  color: #578CA9;
}
textarea::placeholder {
  color: #578CA9;
}
/* footer */
footer {
	background: none repeat scroll 0 0 #3A404A;
	padding: 3.5em 0;
}
footer p, footer a:visited, footer a, footer a:hover {
	color: #6c7c84;
	font-size: 0.8em;
}
footer a:hover {
	color: #578CA9;
}
/* media queries */
@media screen and (max-width: 768px) {
  header {
  	position: relative;
  }
  .top-nav li a {
  	background: #3A404A none repeat scroll 0 0;
  }
  #carousel .text {
  	font-size: 0.8em;
  	top: 20%;
  }
  .owl-controls.clickable {
  	display: none!important;
  }
  .right {
  	float: none;
  }
  .social.right {
  	float: right;
  }
  #about-us article {
  	padding: 4em 2.5em;
  }
}
@media screen and (max-width: 480px) {
  #topbar {
  	line-height: 1.625em;
  	text-align: center;
  }
  .social.right {
  	float: none;
  }
  p.logo, p.nav-text {
  	text-align: center;
  }
}
